{% extends 'base.html' %}

{% block content %}

<!----no caso de nao entrar o style.css colocar o style no html Code-->
<div class="container" style="font-size: 40px; 
                        text-align: center; 
                        padding-bottom: 30px;     
                        font-family: cursive;
                        font-style: oblique;">Invoice</div>


<div class="row">
    <a href="{{ url_for('add_invoice') }}" class="waves-effect waves-light btn green">
        <i class="material-icons right">clear_all</i>Add Invoice
    </a>
</div>

<table class="striped responsive-table">
	<thead>
		<tr>
			<th>Invoice Number</th>
			<th>Client</th>
			<th>Products</th>
			<th>Quantity</th>
            <th>Unit Price</th>
			<th>Total Price</th>
			

		</tr>

	</thead>

	<tbody>
		
        {% for money in invoice %}
        <tr>
           
        	<td>{{ money.invoice_number }}</td>           		
            <td>{{ money.client }}</td>
            <td>{{ money.products }}</td>
			<td>{{ money.quantity }}</td>
            <td>{{ money.unit_price}}</td>
            <td>{{ money.total_price}}</td>
			


			<td>  <a href="#" class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">edit</i></a>
			</td>

            <!------------should use product_id and product._id 'cuz we are inside the for loop saying product in products list------->
            <!-----------------------------DELETE A STOCK PRODUCT---------------->
			<td> <a href="#" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete_sweep</i></a>
			</td>
        

		</tr>
        {% endfor %}




	</tbody>
</table>





{% endblock %}