{% extends 'base.html' %}

{% block content %}

<!----no caso de nao entrar o style.css colocar o style no html Code-->
<div class="prod" style="font-size: 60px; 
                        text-align: center; 
                        padding-bottom: 30px;     
                        font-family: cursive;
                        font-style: oblique;">Add Product</div>

<div class="row">
	<form action="{{ url_for('insert_product') }}" method="POST" class="col s12">

		<!-----------------ADD REF_NUMBER-------------->
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Insert a Ref_Number" id="ref_number" name="ref_number" type="text" class="validate">
				<label for="ref_number">Product Reference number</label>
			</div>
		</div>

		<!-----------------------ADD NAME --------------->
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Insert a Poduct Name" id="name" name="name" type="text" class="validate">
				<label for="name">Product Name</label>
			</div>
		</div>


		<!-----------------ADD PRODUCT COLOR-------------------------------------->
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Insert a Product Color" id="color" name="color" type="text" class="validate">
				<label for="color">Product Color</label>
			</div>
		</div>


		<!-----------------ADD PRODUCT SIZE-------------------------------------->
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Insert a Product Size" id="size" name="size" type="text" class="validate">
				<label for="size">Product Size</label>
			</div>
		</div>

		<!-----------------ADD PRODUCT UNIT PRICE-------------------------------------->
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Insert a Product Unit Price" id="unit_price" name="unit_price" type="text" class="validate">
				<label for="unity_price">Insert a Unit Price</label>
			</div>
		</div>

		<!-----------------ADD PRODUCT SALE PRICE-------------------------------------->
		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Insert a Product Sale Price" id="sale_price" name="sale_price" type="text" class="validate">
				<label for="sale_price">Insert a Sale Price</label>
			</div>
		</div>


        <!-----------------Button to add a product------------------------------->
		<button class="btn waves-effect green" type="submit" name="action">Add Product
            <i class="material-icons right">spellcheck</i>
        </button>


	</form>
</div>


{% endblock %}