{% extends 'base.html' %}

{% block content %}

<!----no caso de nao entrar o style.css colocar o style no html Code-->
<div class="container prod">Product Management</div>


<div class="row">
    <a href="{{ url_for('add_product') }}" class="waves-effect waves-light btn green">
        <i class="material-icons right">clear_all</i>Add New Product
    </a>
</div>

<table class="striped responsive-table">
	<thead>
		<tr>
			<th>Ref_number</th>
			<th>Name</th>
			<th>Color</th>
			<th>Size</th>
			<th>Unit Price</th>
			<th>Sale Price</th>
			<th>Edit Products</th>
			<th>Delete Products</th>

		</tr>

	</thead>

	<tbody>
		
        {% for product in products %}
        <tr>
           
        	<td>{{ product.ref_number }}</td>
            <td>{{ product.name }}</td>
			<td>{{ product.color }}</td>
			<td>{{ product.size }}</td>
			<td> £ = {{ product.unit_price }}</td>
			<td> £ = {{ product.sale_price }}</td>


			<td>  <a href="{{ url_for('edit_product', product_id=product._id) }}" class="btn-floating btn-medium waves-effect waves-light grey"><i class="material-icons">edit</i></a>
			</td>

            <!------------should use product_id and product._id 'cuz we are inside the for loop saying product in products list------->
			<td>  <a href="{{ url_for('delete_product', product_id=product._id) }}" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete_sweep</i></a>
			</td>
        

		</tr>
        {% endfor %}




	</tbody>
</table>





{% endblock %}